<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Coin Prices</title>
  </head>
<body>
	<div class="container">
    <div class="map-container">

      <h1 class="demo"></h1>
      
      
    </div>
  </div>
  <script type="text/javascript" src="js/socket.io.js"></script>
  <script type="text/javascript" src="js/coin_price.js"></script>
</body>